@import "tailwindcss";

.glow {
  box-shadow:
    0px 0px 0px 0px color-mix(in oklab, var(--tw-ring-color) 50%, transparent),
    0px 0px 2px 0px color-mix(in oklab, var(--tw-ring-color) 49%, transparent),
    0px 0px 3px 0px color-mix(in oklab, var(--tw-ring-color) 43%, transparent),
    0px 0px 4px 0px color-mix(in oklab, var(--tw-ring-color) 25%, transparent),
    0px 0px 4px 0px color-mix(in oklab, var(--tw-ring-color) 7%, transparent),
    0px 0px 5px 0px color-mix(in oklab, var(--tw-ring-color) 1%, transparent);
}

.animate-top-slide-in {
  animation: 0.05s animation-top-slide-in 0.35s ease-out;
  animation-fill-mode: forwards;
  transform: translateY(200%);
}

@keyframes animation-top-slide-in {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-bottom-slide-in {
  animation: 0.05s animation-bottom-slide-in 0.35s ease-out;
  animation-fill-mode: forwards;
  transform: translateY(-200%);
}

@keyframes animation-bottom-slide-in {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}

.underline-expand {
  width: 0;
  transform-origin: left center;
  transition: width 0.15s ease-out, opacity 0.15s ease-out;
}

.group:hover .underline-expand {
  width: var(--target-width, 100%);
}

.play-icon {
  pointer-events: none;
}